<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {title: 'Dettale producto'}) %>

    <body>

        <%- include("./partials/header") %>

            <main>
                <section class="main__section__detalles">
                    
                    <div class="div__imgCartera">
                      
                            <img src="/img/<%= product.image %>" alt="">
                        
                    </div>
                    <div class="main__section__detalles--esp">
                        <h2>Marca: <%= product.name %>
                        </h2>
                        <h2>Descripcion: <%= product.description %>
                        </h2>
                        <h2>Categoria: <%= product.category %>
                        </h2>
                        <h2>Colores: </h2>
                        <img src="/img/<%= product.color %>" alt="">
                        <div class="main__section__colores">
                            <hr>
                            <h1>PRECIO: <%= product.price %>
                            </h1>
                            <button>
                                <p>AGREGAR AL CARRITO</p>
                            </button>
                            <button>
                               <a href="/products/productEdit/<%= product.id %> "><p>Editar producto</p></a> 
                        
                            </button>
                            <button>
                                <p>Eliminar producto</p>
                            </button>
                        </div>
                    </div>
                </section>
                <section class="main__section__masProductos">
                    <h1>MAS PRODUCTOS</h1>
                    <img src="/img/Cartera-Martina.png" alt="">
                    <img src="/img/Cartera-Brenda.png" alt="">
                    <img src="/img/Cartera-Alma.png" alt="">
                    <img class="image__none" src="/img/Cartera-Cecilia2.png" alt="">
                </section>
            </main>

            <%- include("./partials/footer") %>

    </body>

</html>