<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {title: 'Detalle del producto' }) %>

    <body>

        <%- include("./partials/header") %>

            <main>
                <section class="main__section__detalles">

                    <div class="div__imgCartera">

                        <img src="/img/<%= product.imgPrimary %>" alt="">

                    </div>

                    <div class="main__section__detalles--esp">
                        <div>
                            <h4><strong>Nombre:</strong></h4>
                            <p>
                                <%= product.name %>
                            </p>
                        </div>

                        <div>
                            <h4><strong>Descripción: </strong></h4>
                            <p>
                                <%= product.description %>
                            </p>
                        </div>

                        <div>
                            <h4><strong>Categoría: </strong></h4>
                            <p>
                                <%= product.category.name %>
                            </p>
                        </div>

                        <div class="main__section__detalle--colores-txt">
                            <h3><strong>Color:</strong></h3>
                        </div>
                        <% product.colors.forEach(color=> { %>

                            <span class="span_color" style=<%="background-color:" + color.hexa
                                +";width:40px;height:40px;display:inline-block;border-radius:50%"%>></span>

                            <% }) %>

                                <div class="main__section__colores">
                                    <hr>
                                    <h3><strong>PRECIO: $</strong>
                                        <%= toThousand(product.price) %>
                                    </h3>

                                    <button>
                                        <a onclick="event.preventDefault();mostrar(); addCartItem('<%=product.id%>')"
                                            class="agregar_carrito-button" href="">AGREGAR AL CARRITO</a>
                                    </button>

                                    <% if (locals.userLogin && userLogin.rol===1) { %>
                                        <button>
                                            <a href="/products/productEdit/<%= product.id %>"
                                                class="agregar_carrito-button">EDITAR PRODUCTO</a>
                                        </button>
                                        <button>
                                            <a href="/products/delete?id=<%=product.id%>&name=<%=product.name%>"
                                                class="agregar_carrito-button">ELIMINAR PRODUCTO</a>
                                        </button>

                                        </a> -->
                                        <% } %>
                                </div>

                    </div>
                </section>

                <h1 class="mas_productos_txt">MAS PRODUCTOS</h1>


                <div class="glider-contain">
                    <div class="glider">
                        <div><img src="/img/Cartera-Alma.png" alt=""></div>
                        <div><img src="/img/Cartera-Cecilia.png" alt=""></div>
                        <div><img src="/img/cartera-martina.jpg" alt=""></div>
                        <div><img src="/img/mochila-molly.webp" alt=""></div>
                        <div><img src="/img/serena-negra.jpg" alt=""></div>
                        <div><img src="/img/riñonera-azucena.jpg" alt=""></div>
                        <div><img src="/img/cartera-leopardo.png" alt=""></div>
                        <div><img src="/img/seoul-blue.png" alt=""></div>
                        <div><img src="/img/riñonera-vulk.png" alt=""></div>
                    </div>

                    <button aria-label="Previous" class="glider-prev">«</button>
                    <button aria-label="Next" class="glider-next">»</button>
                    <div role="tablist" class="dots"></div>
                </div>

            </main>

            <%- include("./partials/footer") %>
                <script src="/javascripts/gliderProductDetail.config.js"></script>
                <%- include('partials/scripts') %>
    </body>

</html>