<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head", {title: 'Nuevo Producto' }) %>

    <body>

        <%- include("./partials/header") %>

            <main class="body__main__login">
                <section class="body__main__login__section1">
                    <article class="body__main__login__section1__article1">
                        <h3>Nuevo producto</h3>

                    </article>
                    <article class="body__main__login__section1__article2">
                        <form class="body__main__login__section1__article2__form" action="/products/productAdd"
                            method="POST" enctype="multipart/form-data">

                            <div>
                                <label for="name">Modelo</label>
                                <input type="text" name="name" id="name"
                                    value="<%= locals.old && old.name ? old.name : null %>">
                                <p class="text-danger">
                                    <%= locals.errors && errors.name ? errors.name.msg : null %>
                                </p>

                            </div>
                            <div>
                                <label for="category">Cartegoria</label> <br>
                                <select name="category" id="category">
                                    <option value="" selected hidden></option>
                                    <option value="cartera">Cartera</option>
                                    <option value="riñonera">Riñonera</option>
                                    <option value="mochila">Mochila</option>
                                </select>
                                <p class="text-danger">
                                    <%= locals.errors && errors.category ? errors.category.msg : null %>
                                </p>
                            </div>
                            <div>
                                <label for="img">Imagen</label>
                                <input type="file" name="img" id="img" accept="image/*"><!-- multiple -->
                                <p class="text-danger">
                                    <%= locals.errors && errors.img ? errors.img.msg : null %>
                                </p>
                            </div>
                            <div>
                                <label for="color">Color</label>
                                <select  name="color" id="color">
                                    <% colors.forEach(color => { %>
                                        <!-- colocar selec -->
                                        <option value="<%= color.id %>"  ><%= color.name %></option>
                                    <% }) %>
                                </select>
                                   
                                <p class="text-danger">
                                    <%= locals.errors && errors.color ? errors.color.msg : null %>
                                </p>
                            </div>
                            <!-- <div>
                                <label for="color">Color</label>
                                <input type="file" name="color" id="color" required>
                            </div> -->
                            <div>
                                <label for="description">descripcion</label> <br>
                                <textarea name="description" id="description" cols="60"
                                    rows="6"><%= locals.old && old.description ? old.description : null %></textarea>
                                <p class="text-danger">
                                    <%= locals.errors && errors.description ? errors.description.msg : null %>
                                </p>

                            </div>
                            <div>
                                <label for="price">Precio</label>
                                <input type="number" name="price" id="price"
                                    value="<%= locals.old && old.price ? old.price : null %>">
                                <p class="text-danger">
                                    <%= locals.errors && errors.price ? errors.price.msg : null %>
                                </p>
                            </div>
                            <div>
                                <label for=""></label>
                            </div>

                            <button class="body__main__login__section1__article2__form--button"
                                type="submit">Agregar</button>
                            <button class="body__main__login__section1__article2__form--button"
                                type="reset">Borrar</button>
                        </form>

                    </article>
                </section>

            </main>

            <%- include("./partials/footer") %>

    </body>