<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", {title: 'Detalle del producto' }) %>

    <body>

        <%- include("./partials/header") %>

            <main>
                <section class="main__section__detalles">

                    <div class="div__imgCartera">

                        <img src="/img/<%= product.images[0].file %>" alt="">

                    </div>

                    <div class="main__section__detalles--esp">
                        <h2>Nombre: <%= product.name %>
                        </h2>
                        <h2>Descripcion: <%= product.description %>
                        </h2>
                        <h2>Categoria: <%= product.category %>
                        </h2>
                        <div class="main__section__detalle--colores-txt"><h2>Colores: </h2></div>
                        <% product.stock.forEach(item=> { %>
                           
                              <span class="span_color" style=<%="background-color:" + item.color.name
                                +";width:40px;height:40px;display:inline-block;border-radius:50%"%>></span>
                          
                            <% }) %>

                        <div class="main__section__colores">
                            <hr>
                            <h1>PRECIO: <%= toThousand(product.price) %></h1>

                            <button>
                                <p class="agregar_carrito-button">AGREGAR AL CARRITO</p>
                            </button>

                            <% if (locals.userLogin && userLogin.rol === 1) { %>
                                <button>
                                   <a style="color: white;" href="/products/productEdit/<%= product.id %>"><p>Editar producto</p></a>
                                </button>
                                <form action="/products/delete/<%= product.id %>?_method=DELETE" method="post">                         
                                    <button type="submit">
                                        <p>Eliminar producto</p>
                                    </button>
                            </form>
                                <% } %> 
                        </div>

                    </div>
                </section>

                <h1 class="mas_productos_txt">MAS PRODUCTOS</h1>

                <section class="main__section__masProductos">
                    <div><img src="/img/Cartera-Martina.png" alt=""></div>
                    <div><img src="/img/Cartera-Brenda.png" alt=""></div>
                    <div> <img src="/img/Cartera-Alma.png" alt=""></div>
                    <div><img src="/img/Cartera-Cecilia2.png" alt=""></div>
                    <img class="image__none" src="/img/Cartera-mobile.jpg" alt="">
                </section>

            </main>

            <%- include("./partials/footer") %>

    </body>

</html>