<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head", {title: 'Nuevo Producto' }) %>

    <body>

        <%- include("./partials/header") %>

            <main class="body__main__ProductAdd">
                <section class="body__main__ProductAdd__section1">
                    <article class="body__main__ProductAdd__section1__article1 h3">
                        <h3>Nuevo producto</h3>

                    </article>
                    <article class="body__main__ProductAdd__section1__article1 p">
                        <form class="body__main__ProductAdd__section1__article2__form is-invalid" action="/products/productAdd"
                            method="POST" enctype="multipart/form-data" id="formProductAdd">

                            <div>
                                <label class="" for="name">Modelo</label>
                                <input class="form-control form-control-lg" type="text" name="name" id="name"
                                    value="<%= locals.old && old.name ? old.name : null %>">
                                <p class="text-danger" id="nameMsg">
                                    <%= locals.errors && errors.name ? errors.name.msg : null %>
                                </p>

                            </div>
                            <div>
                                <label for="category">Categoria</label> <br>
                                <select name="category" id="category" class="form-control form-control-lg">
                                    <option value="" selected hidden></option>
                                    <option value= 1>Cartera</option>
                                    <option value= 2>Mochila</option>
                                    <option value= 3>Riñonera</option>
                                </select>
                                <p class="text-danger" id="categoryMsg">
                                    <%= locals.errors && errors.category ? errors.category.msg : null %>
                                </p>
                            </div>
                    <div class="contenedor__AddImagen">   
                        <div class="contenedor__AddImagen__unidad">
                            <div class="card" >
                                <img class="form-control form-control-lg"  src="https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg" alt="" id="image1Prev" style="width:290px ; height: 290px; object-fit: scale-down;">
                            </div> 
                                                    
                            <div class="botton-img">
                                
                                <label for="img">Imagen Principal</label>
                                <input class="form-control form-control-lg" type="file" name="img1" id="img1" accept="image/*" multiple><!-- multiple -->
                                <p class="text-danger">
                                    <%= locals.errors && errors.img ? errors.img.msg : null %>
                                </p>
                            </div>
                        </div>
                        <div class="contenedor__AddImagen__unidad">
                            <div class="card" >
                                <img class="form-control form-control-lg"  src="https://getstamped.co.uk/wp-content/uploads/WebsiteAssets/Placeholder.jpg" alt="" id="image2Prev" style="width:290px ; height: 290px; object-fit: scale-down;">
                            </div> 
                                                    
                            <div class="botton-img">
                                
                                <label for="img">Imagen secundaria</label>
                                <input class="form-control form-control-lg" type="file" name="img2" id="img2" accept="image/*" multiple><!-- multiple -->
                                <p class="text-danger">
                                    <%= locals.errors && errors.img ? errors.img.msg : null %>
                                </p>
                            </div>
                        </div>
                    </div> 
                            <div>
                                <label for="color">Color</label>
                                <select value=" " class="form-control form-control-lg" name="color" id="color">
                                    <% colors.forEach(color => { %>
                                        <!-- colocar selec -->
                                        <option value="<%= color.id %>"  ><%= color.name %></option>
                                    <% }) %>
                                </select>
                                   
                                <p class="text-danger" id="colorMsg">
                                    <%= locals.errors && errors.color ? errors.color.msg : null %>
                                </p>
                            </div>
                            <!-- <div>
                                <label for="color">Color</label>
                                <input type="file" name="color" id="color" required>
                            </div> -->
                            <div>
                                <label for="description">descripcion</label> <br>
                                <textarea class="form-control form-control-lg" name="description" id="description" cols="40"
                                    rows="6"><%= locals.old && old.description ? old.description : null %></textarea>
                                <p id="descriptionInfo" hidden><span id="numberCharacters"></span> caracteres disponible</p>
                                <p class="text-danger" id="descriptionMsg">
                                    <%= locals.errors && errors.description ? errors.description.msg : null %>
                                </p>

                            </div>
                            <div>
                                <label for="price">Precio</label>
                                <input class="form-control form-control-lg" type="number" name="price" id="price"
                                    value="<%= locals.old && old.price ? old.price : null %>">
                                <p class="text-danger" id="priceMsg">
                                    <%= locals.errors && errors.price ? errors.price.msg : null %>
                                </p>
                            </div>
                            <div>
                                <label for=""></label>
                            </div>

                            <button class="body__main__login__section1__article2__form--button"
                                type="submit" id="btn-submit" disabled>Agregar</button>
                            <button class="body__main__login__section1__article2__form--button"
                                type="reset">Borrar</button>
                        </form>

                    </article>
                </section>

            </main>

            <%- include("./partials/footer") %>
            <script src="/javascripts/productAddValidation.js"></script>
    </body>