<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/head", {title: "Editar" + product.name}) %> 

<body>
  
  <%- include("./partials/header") %> 

    <main class="body__main__login">
        <section class="body__main__login__section1">
            <article class="body__main__login__section1__article1">
                <h3>Editar producto</h3>
               
            </article>
            <article class="body__main__login__section1__article2">
                <form class="body__main__login__section1__article2__form" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                   
                    <div>
                        <label for="name">Modelo</label>
                        <input type="text" name="name" id="name" value="<%= product.name %>">
                        <p class="text-danger"><%= locals.errors && errors.name ? errors.name.msg : null %></p>
                    </div>
                    <div>
                        <label for="category">Categoria</label> <br>
                        <select  name="category" id="category">
                            <option value="cartera"<%= product.category === "cartera" && "selected" %> >cartera</option>
                            <option value="riñonera"<%= product.category === "riñonera" && "selected" %> >riñonera</option>
                            <option value="mochila"<%= product.category === "mochila" && "selected" %> >mochila</option>
                        </select>
                    </div>
                    <div>
                        <label for="img">Imagen</label>
                        <input type="file" name="img" id="file">
                    </div>
                    <div>
                        <label for="color">Color</label>
                        <input type="color" name="color" id="color" value="<%= product.color %>">
                        <p class="text-danger"><%= locals.errors && errors.color ? errors.color.msg : null %></p>
                    </div>
                    <div>
                        <label for="description">Descripcion</label> <br>
                        <textarea name="description" id="description" cols="30" rows="6"><%= product.description %></textarea>
                        <p class="text-danger"><%= locals.errors && errors.description ? errors.description.msg : null %></p>
                    </div>
                    <div>
                        <label for="price">Precio</label>
                        <input type="number" name="price" id="price" value="<%= product.price %>">
                        <a href=""></a>
                        <p class="text-danger"><%= locals.errors && errors.price ? errors.price.msg : null %></p>
                    </div>                      
                    <button class="body__main__login__section1__article2__form--button" type="submit">Actulizar</button>
                    <button class="body__main__login__section1__article2__form--button" type="reset">Borrar</button>
                </form>           
            </article>
        </section>

    </main>
    
    <%- include("./partials/footer") %>

</body>