<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{title : "Productos" }) %>

  <body class="body__home">
    <%- include("./partials/header") %>

      <!-- INICIO MAIN -->
      <main class="main__carteras">
        <div class="titulos__products">
          <h1>CARTERAS</h1>
        </div>

        <section class="main__section__products">
          <% products.forEach(({id,name,price,descripcion,images,color})=> { %>
            <article class="main__section__products__productCartera">
              <a href="/products/productDetail/<%= id %>">
                <img class="productCartera__img" src="/img/<%= images[0].file %>" alt="" />
              </a>
              <h4 class="productCartera__nombre">
                <%= name %>
              </h4>
              <h3 class="productCartera__precio">
                <%= toThousand(+price) %>
              </h3>
              <button class="boton-favorito">
                <i class="fa-regular fa-heart"></i>
              </button>
              <div class="productCartera__imgRadio" style="margin: 0 auto;">
                <% color.forEach(col => { %>
                 <span style=<%= "background-color:" + col +";width:20px;height:20px;display:inline-block;border-radius:50%"%>></span>
                  <% }) %>
              </div>
            </article>
            <% }) %>
        </section>
      </main>
      <!-- FIN MAIN -->

      <%- include("./partials/footer") %>
  </body>

</html>

<!-- 

 -->