<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head",{title : "Productos" }) %>

  <body class="body__home">
    <%- include("./partials/header") %>

      <!-- INICIO MAIN -->
      <main class="main__carteras">
        <div class="titulos__products">
          <h1>MOCHILAS</h1>
        </div>

        <section class="main__section__products">
          <% backpack.products.forEach(({id,name,price,descripcion,images,colors})=> { %>
            <article class="main__section__products__productCartera">
              <a href="/products/productDetail/<%= id %>">
                <img class="productCartera__img" src="/img/<%= images[0].file %>" alt="" />
              </a>
              <h4 class="productCartera__nombre">
                <%= name %>
              </h4>
              <h3 class="productCartera__precio">
                <%= toThousand(+price) %>
              </h3>
              <ul>
                <% colors.forEach(color=> { %>
                  <li>
                    <span class="span_color" style=<%="background-color:" + color.hexa
                      +";width:40px;height:40px;display:inline-block;border-radius:50%"%>></span>
                  </li>
                  <% }) %>
              </ul>
              <button class="boton-favorito">
                <i class="fa-regular fa-heart"></i>
              </button>
              
            </article>
            <% }) %>
        </section>
      </main>
      <!-- FIN MAIN -->

      <%- include("./partials/footer") %>
  </body>

</html>

<!-- 

 -->