<!DOCTYPE html>
<html lang="es">

<%- include("./partials/head", {title: 'Eliminar producto' }) %>

  <body>

    <%- include("./partials/header") %>

      <main>
        <section class="productDelete__container">
          <div class="productDelete__container__preg">
            <h1>¿Estás seguro de querer eliminar el producto: <%= Product.name %> ?
            </h1>
          </div>
          <div class="productDelete__container__form">
            <form class="productDelete__form" action="/products/delete/<%= Product.id %>?_method=DELETE" method="post">
              <button type="submit">Eliminar producto</button>
              <a href="/products/productGeneral">Volver a productos</a>
            </form>
          </div>
        </section>
      </main>
      <%- include("./partials/footer") %>
      <%- include('partials/scripts') %>
  </body>

</html>