<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>


    <body>
        <%- include("./partials/header") %>

            <main>
                <section class="profile__container">
                    <div class="profile__img">
                        <img src="<%= /http/.test(user.avatar) ? user.avatar : " /img/avatar/" + user.avatar %>"
                        width="130px" height="130px" alt="">
                    </div>
                    <div class="profile__dates">
                        <div>
                            <p class="profile__dates-preg">nombre:</p>
                        </div>
                        <p>
                            <%= user.name %>
                        </p>
                    </div>
                    <div class="profile__dates">
                        <div>
                            <p class="profile__dates-preg">apellido:</p>
                        </div>
                        <p>
                            <%= user.surname %>
                        </p>
                    </div>
                    <div class="profile__dates">
                        <div>
                            <p class="profile__dates-preg">correo electronico:</p>
                        </div>
                        <p id="profile__dates-email">
                            <%= user.email %>
                        </p>
                    </div>
                    <a class="profile__editar-perfil" href="/users/userEdit">Editar Perfil
                    </a>
                </section>
            </main>
            <%- include("./partials/footer") %>
    </body>

</html>