<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>


    <body>
        <%- include("./partials/header") %>

            <main>
                <section class="body__section__profile">
                    <div class="body__section__profile--img">
                        <img src="<%= /http/.test(user.avatar) ? user.avatar : " /img/avatar/" + user.avatar %>"
                        width="130px" height="130px" alt="">
                    </div>
                    <div>
                        <label for="name">nombre</label> <br>
                        <p>
                            <%= user.name %>
                        </p>
                    </div>
                    <div>
                        <label for="surname">apellido</label> <br>
                        <p>
                            <%= user.surname %>
                        </p>
                    </div>
                    <div>
                        <p>correo electronico :</p>
                        <p>
                            <%= user.email %>
                        </p>
                    </div>
                    <a href="/users/userEdit">Editar Perfil
                    </a>
                </section>
            </main>
            <%- include("./partials/footer") %>
    </body>

</html>